{% extends "::default.html.twig" %}

{% block title %}AppBundle:Post:index{% endblock %}

{% block body %}
<h1>Welcome to the Post:index page</h1>
    <ul>
        {% for post in posts %}
            <li>{{ post.name }}</li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
